version: "3.9"
services:
  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/insta_clone:cached
      - bundle:/usr/local/bundle
    ports:
      - 3001:3000
    depends_on:
      - db
      - chrome
      - redis
      - sidekiq
    environment:
      SELENIUM_DRIVER_URL: http://chrome:4444/wd/hub
      REDIS_URL: redis://redis:6379
    stdin_open: true
    tty: true
  db:
    image: mysql:5.7.33
    environment:
      MYSQL_ROOT_PASSWORD: "mysql"
    ports:
      - 3307:3306
    volumes:
      - mysql_data:/var/lib/mysql

  chrome:
    image: selenium/standalone-chrome-debug:latest
    ports:
      - 4444:4444
  sidekiq:
    build: .
    environment:
      REDIS_URL: redis://redis:6379
    volumes:
      - .:/insta_clone:cached
      - bundle:/usr/local/bundle
    depends_on:
      - db
      - redis
    command: bundle exec sidekiq -C config/sidekiq.yml
  redis:
    image: redis:latest
    ports:
      - 6379:6379
    volumes:
      - redis:/data
volumes:
  bundle:
  mysql_data:
  redis:

