<nav>
  <ul class="list-unstyled">
    <li class="py-4">
      <a href="#" class="text-muted d-block">
        <i class="fas fa-user pe-2"></i>
        <span>プロフィール編集</span>
      </a>
    </li>
    <li class="py-4 border-top">
      <%= link_to mypage_notifications_path, class: 'text-muted d-block' do %>
        <i class="fas fa-bell pe-2"></i>
        <span>通知一覧</span>
      <% end %>
    </li>
    <li class="py-4 border-top">
      <%= link_to edit_mypage_notification_setting_path, class: 'text-muted d-block' do %>
        <i class="fas fa-cogs pe-2"></i>
        <span>通知設定</span>
      <% end %>
    </li>
  </ul>
</nav>
