<nav>
  <ul class="list-unstyled">
    <li class="py-4">
      <a href="#" class="text-muted d-block">
        <i class="fas fa-user pe-2"></i>
        <span>プロフィール編集</span>
      </a>
    </li>
  </ul>
</nav>