<div class="d-flex align-items-center justify-content-between gap-3 border-bottom mb-1 p-2">
  <div class="d-flex align-items-center gap-3">
    <img
      src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
      class="rounded-circle"
      height="48"
      alt="Black and White Portrait of a Man"
      loading="lazy">
    <%= user.username %>
  </div>
  <%= link_to 'フォロー', '', class: 'btn btn-primary' %>
</div>