<% flash.each do |message_type, message| %>
  <div class="alert-<%= message_type %> alert alert-dismissible fade show mb-3">
    <%= message %>
    <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
