<div class="dropdown">
  <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownNotifications" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-bell"></i>
    <span class="badge rounded-pill badge-notification bg-danger">1</span>
  </a>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownNotifications" data-popper-placement="null" data-mdb-popper="none">
    <% notifications.each do |notification| %>
      <li>
        <%= link_to notification.url, class: 'dropdown-item' do %>
          <div class="text-muted small"><%= l notification.created_at, format: :long %></div>
          <%= notification.title %>
        <% end %>
      </li>
    <% end %>
    <% if notifications.size > 10 %>
      <li class="border-top">
        <a href="#" class="d-block mx-auto text-center py-2">もっとみる</a>
      </li>
    <% end %>
  </ul>
</div>
